INSERT INTO {{schema}}.{{ download_time_table }} (parcelid, download_time)
SELECT parcelid, current_timestamp
FROM {{schema}}.{{ label_table }}
WHERE parcelid NOT IN (
    SELECT parcelid FROM {{schema}}.{{ download_time_table }} )
ORDER BY random()
LIMIT {{ entries }}
RETURNING parcelid;