{% if not error %}
INSERT INTO {{ samples_label_time_table }} (parcelid, label_time)
VALUES ('{{ parcelid }}', CURRENT_TIMESTAMP)
ON CONFLICT (parcelid) DO UPDATE
    SET label_time = CURRENT_TIMESTAMP;
{% endif %}

{% if not error and update %}
    {% if value_no_year is defined and value_no_year|length > 0 %}
UPDATE {{ samples_label_table }}
SET value_no_year = {{ value_no_year }}
WHERE parcelid = '{{ parcelid }}';
    {% endif %}
    {% if year1 is defined and year1|length > 0 %}
UPDATE {{ samples_label_table }}
SET year1 = {{ year1 }}
WHERE parcelid = '{{ parcelid }}';
    {% endif %}
    {% if value1 is defined and value1|length > 0 %}
UPDATE {{ samples_label_table }}
SET value1 = {{ value1 }}
WHERE parcelid = '{{ parcelid }}';
    {% endif %}
    {% if year2 is defined and year2|length > 0 %}
UPDATE {{ samples_label_table }}
SET year2 = {{ year2 }}
WHERE parcelid = '{{ parcelid }}';
    {% endif %}
    {% if value2 is defined and value2|length > 0 %}
UPDATE {{ samples_label_table }}
SET value2 = {{ value2 }}
WHERE parcelid = '{{ parcelid }}';
    {% endif %}
{% endif %}

{% if error %}
INSERT INTO {{ samples_error_table }} (parcelid, error)
VALUES ('{{ parcelid }}', 'Invalid Ownership Card JPEG')
ON CONFLICT (parcelid) DO UPDATE
    SET error = 'Invalid Ownership Card JPEG';
{% endif %}