.vscode/
.idea/
~*.xlsx
Dataset
Datasets
client_secrets.json
database.yaml
__pycache__/
label_data/data
ocr_pipeline/data
label_data/samples
eruka/
modeling_pipeline/wandb/
modeling_pipeline/matrices
modeling_pipeline/*.csv
hamilton_tracts/